@model IEnumerable<Bangazon.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h1>Bangazon, Inc.</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                Image
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductTypeId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.ActionLink(item.Title, "Details", new { id = item.ProductId }, new { @class = "btn btn-link" })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImagePath)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductType.Label)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ProductId }, new { @class = "btn btn-link" }) |
            </td>
        </tr>
        }
    </tbody>
</table>