@model IEnumerable<Bangazon.Models.Order>

@{
    ViewData["Title"] = "Index";
}

<h1>Order History</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderId)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.DateCompleted)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            @if (item.PaymentTypeId != null)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.OrderId)
                    </td>
                    
                    <td>
                        @Html.DisplayFor(modelItem => item.DateCompleted)
                    </td>
                    <td>
                        @Html.ActionLink("View Order", "ViewOrder", new { id = item.OrderId }, new { @class = "btn btn-link" })
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
